<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ILaptopService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6968/WCFServiceST/CalculatorService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILaptopService"
                contract="WCFServiceST.ILaptopService" name="WSHttpBinding_ILaptopService">
                <identity>
                    <userPrincipalName value="DESKTOP-ON1599H\Sebixxu" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>